@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}

.formpage{
  display: flex;
  justify-content: center;
  align-items: center;
    background:#a6ddf0;
    filter:brightness(7px);
   overflow-y: auto;
}
.formpage > form{
  width: 40rem;
  height:50rem;
  padding: 40px;
  border:2px solid rgb(12, 12, 12);
  background-color: white;
}

.former > input:nth-of-type(1){
  width:50%;
  display: block;
  height: 20px;
}

.former > input:nth-of-type(2){
  width:50%;
  display: block;
  height: 20px;
}

.former > label:nth-of-type(1){
  display: block;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.question1{
  display:flex;
  flex-direction: column;
}

.question2{
  display:flex;
  flex-direction: column;
}

.question3{
  display:flex;
  flex-direction: column;
}

.feedbackbtn{
  width:170px;
			height:50px;
			background-color: #8e2de2;
			color: white;
      margin-top: 30px;
}

.bold{
  font-weight: bolder;
  color:#8e2de2;
}